
.table-wrapper {
    width: 100%;
  
    overflow-x: auto;
  }


.myTable {
    .table-header {
        display: table-caption;
        font-weight: bold;
        background-color: aquamarine;
        display: inline-block;
    }
    .table-cell {
        display: inline;
    }
    .myTable .table-bg {
        display: inline-block;
        padding: 10px;
    }
}

@media (min-width: 600px) {
    .myTable .table-header {
        display: flex;
        font-weight: bold;
        background-color: aquamarine;
    }
    .myTable .table-cell {
        display: inline-block;
        padding: 10px;
    }
    .myTable .table-bg {
        display: inline-block;
        padding: 10px;
        flex: 1;
    }
}
