* {
    box-sizing: border-box;
  }
  
body {
  background-color: black;
  color: lightgrey;
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.sticky-header {
  position: sticky;
  top: 0;
}
  
.task-table {
  width: 100%;
  height: 100px; 
}

@media only screen and (max-width: 760px) {
  .table-responsive {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
  }
  
  .col-small, .col-big, .col-medium {
    display: none;
  }
  
  .table th, .table td {
    padding: 8px;
    display: block;
    text-align: left;
  }
  
  .table th {
    font-size: 14px;
    font-weight: bold;
  }
  
  .table td {
    font-size: 12px;
    border-bottom: 1px solid #ddd;
  }
}